    # Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/

# OS files
.DS_Store
Thumbs.db

# SQLite local DB
*.db

# Logs
*.log

# MAUI / Android / iOS outputs
*.apk
*.aab
*.ipa
*.xcarchive

# Rider / JetBrains
.idea/

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.swp

# 忽略所有导出相关 zip 和脚本
shell cmd.txt
Export-FMS-Client.ps1
Export-FMS-Server.ps1
Export-FMS-Mobile.ps1
FMS_Server_Export.zip
FMS_Client_Code.zip
FMS_Mobile_Export.zip
