    # Visual Studio
.vs/
*.suo
*.user
*.userosscache
*.sln.docstates

# Build output
bin/
obj/

# OS files
.DS_Store
Thumbs.db

# SQLite local DB
fms.db-wal
fms.db-shm

# Logs
*.log

# MAUI / Android / iOS outputs
*.apk
*.aab
*.ipa
*.xcarchive

# Rider / JetBrains
.idea/

# NuGet
packages/
*.nupkg
*.snupkg
project.lock.json
project.fragment.lock.json
artifacts/

# Others
*.swp

